# Notebook SQLite : gestion d'une table `Eleve`

Dans ce notebook, on va :

1. Créer une base de données SQLite (`eleves.db`) et une table (`Eleve`).
2. Insérer des données dans la table avec plusieurs méthodes :
   - valeurs fixes
   - tuple
   - dictionnaire
   - liste de tuples + `executemany`
3. Lire les données (`SELECT`) :
   - récupérer toutes les données
   - récupérer les données selon un champ
4. Mettre à jour des données (`UPDATE`)
5. Supprimer des données (`DELETE`)

In [ ]:
# Import
import sqlite3

Salut

In [2]:
# Configuration
DB_NAME = "eleves.db"

## 1. Création de la table `Eleve`

On va définir une fonction `creer_table` qui :

- Se connecte à la base `eleves.db`
- Supprimer éventuellement la table `Eleve` si elle existe déjà (optionnel, pratique pour les tests)
- Crée la table `Eleve` avec les colonnes :
  - `id` (clé primaire auto-incrémentée)
  - `nom`
  - `prenom`
  - `age`
  - `classe`

In [ ]:
connection = sqlite3.connect(DB_NAME) # création BDD si elle n'existe pas ou co à une existante
curseur = connection.cursor() # initialisation curseur

curseur.execute("""
                CREATE TABLE IF NOT EXISTS Eleve (
                id INTEGER PRIMARY KEY AUTOINCREMENT,
                nom TEXT,
                prenom TEXT,
                age INTEGER,
                classe TEXT
                )
                """)


connection.commit() # Application des modification
connection.close() #Fermeture de la connection de base

## 2. Insertion de données dans la table `Eleve`

1. Insertion avec des valeurs en dur.
2. Insertion avec un **tuple** : `(nom, prenom, age, classe)`.
3. Insertion avec un **dictionnaire** : `{"nom": ..., "prenom": ..., ...}`.
4. Insertion de plusieurs élèves à la fois avec une **liste de tuples** et `executemany`.

In [5]:
# 1- Créer un élève en dur
conn = sqlite3.connect(DB_NAME) # création BDD si elle n'existe pas ou co à une existante
cur = conn.cursor() # changement de nom de var

cur.execute("""
            INSERT INTO Eleve (id, nom, prenom, age, classe)
            VALUES (1, "Dupont", "Jean", 15, "2A")
            """)

conn.commit() # Application des modification
conn.close() #Fermeture de la connection de base

In [13]:
# 2- Insérer un élève avec un tuple
eleve_2 = ("Dupont", "Jeanne", 17, "TG2")

In [ ]:

conn = sqlite3.connect(DB_NAME) # création BDD si elle n'existe pas ou co à une existante
cur = conn.cursor() # changement de nom de var

cur.execute("""
            INSERT INTO Eleve (nom, prenom, age, classe)
            VALUES (?, ?, ?, ?)
            """,eleve_2)

conn.commit() # Application des modification
conn.close() #Fermeture de la connection de base

In [16]:
# 3- Insérer un élève avec un dictionnaire
eleve_3 = {
    "nom": "Marchand",
    "prenom": "Marie",
    "age": 15,
    "classe": "2A"
}

In [18]:
conn = sqlite3.connect(DB_NAME) # création BDD si elle n'existe pas ou co à une existante
cur = conn.cursor() # changement de nom de var

cur.execute(f"""
            INSERT INTO Eleve (nom, prenom, age, classe)
            VALUES ({eleve_3})
            """)

conn.commit() # Application des modification
conn.close() #Fermeture de la connection de base

OperationalError: unrecognized token: "{"

In [ ]:
# 4- Insérer une liste de plusieurs élèves avec `executemany`
autres_eleves = [
    ("Martin", "Adeline", 16, "1G1"),
    ("Dupont", "Lucas", 15, "2A"),
    ("Richard", "Louise", 15, "1G2"),
    ("Rouger", "Marius", 16, "1G2"),
    ("Louapre", "Lola", 18, "TG2"),
    ("Boudou", "Lise", 17, "TG1"),
    ("Dupont", "Aurélien", 16, "1G1"),
    ("Laurent", "Diego", 17, "1G2"),
    ("Martin", "Anaëlle", 16, "TG1"),
]

## 3. Lecture des données (SELECT)

1. Récupérer **toutes** les données (élèves).
2. Récupérer des données d'élèves selon un filtre appliqué.

In [ ]:
# Récupérer tous les élèves (méthode SELECT * )

In [ ]:
# Récupérer les élèves qui ont un certain **nom** (méthode `WHERE nom = ?`)

In [ ]:
# Test des sélections par nom

print("Élèves dont le nom est 'Dupont' :")

In [ ]:
# Test des sélections par nom

print("Élèves dont le nom est 'Martin' :")

## 4. Mise à jour des données (UPDATE)

1. Mettre à jour la classe de tous les élèves qui ont un certain **nom**.
2. Mettre à jour la classe d’un élève précis, identifié par **nom + prénom**.

Puis on vérifiera le résultat avec un `SELECT`.

In [ ]:
# Modifier la classe de l'élève **Lucas Dupont**

In [ ]:
# Afficher à nouveau tous les élèves qui s'appellent "Dupont"

## 5. Suppression de données (DELETE)

1. Supprimer des doublons.  
2. Supprimer une données précise.  
3. Supprimer toutes les données ne remplissant pas une conditions.

In [ ]:
# Suppression des doublons

In [ ]:
# Supprimer tous les élèves de plus de 16 ans

In [ ]:
# Afficher à nouveau tous les élèves pour voir ce qu'il reste dans la table

## 6. Exercice pratique en autonomie

1. Ajouter 3 nouveaux étudiants
2. Ajouter 2 nouveaux cours
3. Ajouter 1 professeur
4. Afficher…
5. les étudiants triés par programme
6. les cours se déroulant après mercredi
7. les étudiants dont le nom contient la lettre o
8. Modifier un des étudiants (programme ou date)
9. Supprimer un cours
10. Donner la dernière requête qu’il a exécutée et expliquer ce qu’elle fait